.jokeCard {
    background-color: #fa8072;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    display: inline-block;
}

.factCard {
    background-color: #fa8072;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    display: inline-block;
}

.eat a {
    color: #fff;
}

.eat {
    margin-top: 30px;
}

a:hover {
    color: #000;
}

.summary {
    width: 90%;
    margin-left: 20px;
}

.summary a {
    color: #000;
    text-decoration: underline;
}

.recipeTitle {
    margin-top: 40px;
}