.jokeCard {
    background-color: #eeee;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    display: inline-block;
}

.factCard {
    background-color: #eeee;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    display: inline-block;
}

.eat a {
    color:
    #fff;
}

.eat {
    margin-top: 30px;
}

a:hover {
    color: #000;
}