
.welcome {
  margin-top: 210px;
  background-color: #efb3ab;
  width: 500px;
}

h1 {
  margin-top: 50px;
  color: #f5f0e3;
}

.welcome {
  margin-top: 50px;
  color: #dd0a35;
  text-align: center;
  background-color: #fa8072;
}

.exHead {
  color: #f5f0e3;
}

.row {
  margin-top: 100px;
  border-style: solid;
  border-width: medium;
  background-color: #efb3ab;
  border-color: #fa8072;
  padding: 20px;
}

.col {
  padding: 20px;
  width: 100px;
  color: #dd0a35;
}

.left {
  border-left: solid;
  border-color: #fa8072;
  margin-left: 50px;
  border-left-width: medium;
}
