.nav {
    width: 100%;
    color: #dd0a35;
}

.navbar {
  background-color: #fa8072!important;
  border-radius: 0.5rem;
}

.nav a {
  color: #dd0a35; 
  text-decoration: none;
}

#basic-navbar-nav {
  float: right;
}

.login {
  margin-left: 68%;
}

.navbar-collapse {
  background-color: #efb3ab;
  border-radius: 0.5rem;
}
