.nav {
    width: 100%;
    color: #e34949;
    margin-top: 30px;
}

a {
  color: #e34949;
  text-decoration: underline;
}

#basic-navbar-nav {
  float: right;
}

.login {
  margin-left: 150px;
}

.navbar-collapse {
  background-color: #fff;
}

.search {
  background-color: #000;
  border-color: #fff;
}
