.exercises {
    width: 40%;
    margin: 20px;
    display: inline-block;
}

.exRow {
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.exHead {
    margin: 20px;
}