.memeImg {
    width: 50%;
    height: auto;
}

.memeTitle {
    text-align: left;
}

.memeAuthor {
    text-align: left;
}

.memeCard {
    background-color: #eeee;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    display: inline-block;
}